<footer class="border-top footer text-muted mt-auto py-3 bg-dark"> 
    <div class="container">
        &copy; 2022 - @CompanyConfig.Name - 
        <a asp-area="" asp-page="/Privacy">Privacy</a>
         Disenger - @CompanyConfig.Designer
    </div>
</footer>