<footer class="border-top footer text-muted mt-auto py-3 bg-dark"> 
    <div class="container">
        &copy; 2022 - @CompanyConfig.Name - 
        <a>Privacy;</a>
         Designer - @CompanyConfig.Designer
    </div>
</footer>